body { background: #9f43d6; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 41px; display: flex; }
.block-router-0 { color: #d3623f; font-size: 17px; margin-bottom: 5px; }
.block-cache-1 { color: #95231a; font-size: 18px; margin-bottom: 5px; }
.block-uploader-2 { color: #27fa5c; font-size: 21px; margin-bottom: 5px; }
.block-helper-3 { color: #30679a; font-size: 17px; margin-bottom: 5px; }
.block-uploader-4 { color: #1eba76; font-size: 20px; margin-bottom: 5px; }
.block-product-5 { color: #fc5fe3; font-size: 16px; margin-bottom: 5px; }
.block-helper-6 { color: #525922; font-size: 15px; margin-bottom: 5px; }
.block-logger-7 { color: #174898; font-size: 18px; margin-bottom: 5px; }